div(style='width: 100%;height: 100%;position: absolute;top:0;left:0;' ng-click='flap()')
  div(style='width: 1600px;height: 800px;border:1px solid black;position: absolute;top:0px;left:0px;' ng-click='flap()')
    div(ng-repeat='o in objects',style='position:absolute;top:{{o.p.y}}px;left:{{o.p.x}}px;width:{{o.width}}px;height:{{o.height}}px;color:black;text-align:center;')
      img(ng-src='images/{{ o.player ? "bird.png" : "pipe.png" }}',style='width:{{o.width}}px;height:{{o.height}}px;-webkit-transform:rotate({{o.v.y>350?45:0}}deg);')
      strong {{o.player.nick}}

div(class='container-fluid')
  div(class='row')
    div(class='col-md-4 col-md-offset-8')
      h1(style='font-size: 70px;',ng-click='flap()')
        strong Flappy Birds
      h2(ng-show='state==1 || score>0').
        Score: {{score}}
  
  div(class='row')
    div(class='col-md-2 col-md-offset-10')
      div(ng-hide='state==1',style='color: black;')
        form(role='form')
          input(type='text', ng-model='nick', placeholder='Your Name', class='input-lg form-control', autofocus)
          button(ng-click='setupPlayer(nick)', type='submit', class='btn-lg btn-primary btn btn-block') Play
      div(ng-hide='state==0')
        button(ng-click='leaveGame()', type='submit', class='btn-lg btn-primary btn btn-block') Spectate
  
  div(class='row' ng-hide="true")
    div(class='col-md-2  col-md-offset-10',ng-controller='PlayerListController')
      h2(ng-click='flap()') players
      ul
        li(ng-repeat='p in players').
          {{p.nick}}

div(ng-show='offline' class='alert alert-danger' style='width: 350px;position: absolute;left:50%;top:200px;top:400px;margin-left:-200px;')
  h1 Lost connection
  p Sorry, I lost the connection to the server. Hang on ...
  
